<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.100" newVersion="10.2.0.100"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <connectionStrings>
    <add name="mySqlConnectionString" connectionString ="Server=127.0.0.1;Database=evernote;Uid=root;Pwd=tindrbonnie;"/>
  </connectionStrings>
</configuration>
